---
import { getCollection, render } from "astro:content";
import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const url = `/posts/${post.id}/`;
---

<style is:inline>
  .hackToPutBackInSpacingForParagraphsThatTailWindStripsOut p {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
</style>

<MarkdownPostLayout frontmatter={post.data} url={url}>
  <div class="hackToPutBackInSpacingForParagraphsThatTailWindStripsOut">
    <Content />
  </div>
</MarkdownPostLayout>
