---
import { getCollection, render } from "astro:content";
import MarkdownPostLayout from "../../layouts/MarkdownPostLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const url = `/posts/${post.id}/`;
---

<MarkdownPostLayout frontmatter={post.data} url={url} post={post}>
  <div
    class="<!-- make it nice -->
  prose
  <!-- but don't restrict the width - *pre* must be overwritten to wrap in tailwind.config.X -->
  max-w-none"
  >
    <Content />
  </div>
</MarkdownPostLayout>
