/* line numbers */
/* pre {
  @apply rounded-md pl-8;

  code {
    @apply block leading-tight p-2 pl-1;
    font-size: 17px;
    border-left: 1px solid rgba(115, 138, 148, 0.4);
    counter-reset: step;
    counter-increment: step 0;

    .line {
      @apply relative;
    }

    .line::before {
      @apply absolute overflow-hidden w-7 h-4 -left-9 top-0 text-right;
      content: counter(step);
      counter-increment: step;
      color: rgba(115, 138, 148, 0.4);
    }
  }
} */

pre {
  code {
    counter-reset: step;
    counter-increment: step 0;
  }

  code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 2rem;
    display: inline-block;
    color: rgba(126, 143, 150, 0.834);
  }
}
