---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import BlogList from "../../components/BlogList.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");

  const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag: string) => {
    const filteredPosts = allPosts.filter((post: CollectionEntry<"blog">) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const pageTitle = `[${tag}] posts`;
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="italic prose-2xl text-center pb-5">{pageTitle}</h1>
  <BlogList posts={posts} />
</BaseLayout>
