---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");

const allTags: Map<string, number> = new Map();

allPosts.map((p) => {
  p.data.tags.forEach((tag) => {
    const existingN = allTags.get(tag) || 0;
    allTags.set(tag, existingN + 1);
  });
});
// sort tags by keys
const tags = new Map([...allTags.entries()].sort());

const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags flex flex-wrap">
    {
      tags.entries().map((entry) => (
        <p
          class="tag
        "
        >
          <a href={`/tags/${entry[0]}`}>{`${entry[0]} (${entry[1]})`}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
<style>
  a {
    color: #00539f;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
