---
import type { CollectionEntry } from "astro:content";
import { extractPreview } from "../my";
interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const excerpt = extractPreview(post.body + "", 350);
---

<pre class="whitespace-normal">
<Fragment set:html={excerpt} />
</pre>
<!-- <p class="preview">
  {excerpt}
</p> -->
