---
const items = [
  { url: "/", label: "Home" },
  { url: "/tags/", label: "Tags" },
  { url: "https://github.com/yatesco/colinyates.co.uk", label: "Source" },
  { url: "/CV 2024.pdf", label: "My CV" },
];
---

<nav class="flex">
  {
    items.map((item) => (
      <a
        class="last:ml-auto
        text-xl
        m-5
      border-b-2 border-gray-600
      "
        href={item.url}
      >
        {item.label}
      </a>
    ))
  }
</nav>
