---

---

<style>
  /* this is also styled in global.css */
  .nav-links {
    a:last-child {
      float: right;
    }
  }
</style>

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/tags/">Tags</a>
  <a href="https://github.com/yatesco/colinyates.co.uk" target="_blank"
    >Source</a
  >
  <a href="/CV 2024.pdf" target="_blank">My CV</a>
</div>
